 .avatarImg {
     width: 220px;
 }


 .info {
     display: flex;
     gap: 20px;
     background-color: #FFF;
     box-shadow: 0px 8px 10px 3px rgba(34, 60, 80, 0.2);
     padding: 5px 10px;
     border-radius: 10px;
 }
 .description {
    font-size: 24px;
 }
 .avaBtnWrapper {
    position: relative;
    bottom: 125px;
    height: 50px;
    text-align: center;
 }
 .avaBtn {
    display: none;
 }
 .avaBtnLabel {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
 }