 .avatarImg {
     width: 220px;
 }


 .info {
     display: flex;
     gap: 20px;
     background-color: #FFF;
     box-shadow: 0px 8px 10px 3px rgba(34, 60, 80, 0.2);
     padding: 5px 10px;
     border-radius: 10px;
 }
 .description {
    font-size: 24px;
 }
 .avaBtnWrapper {
    position: relative;
    bottom: 125px;
    height: 50px;
    text-align: center;
 }
 .avaBtn {
    display: none;
 }
 .avaBtnLabel {
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    font-size: 24px;
    padding: 8px;
    cursor: pointer;
 }
 .button {
   background-color: #F2F3F5;
   border: none;
   border-radius: 20px;
   padding: 15px;
   font-size: 25px;
 }
 .contactsForm {
   padding-left: 15px;
   display: flex;
   align-items: center;
   gap: 10px;
 }
 .contactsImg {
   width: 30px;
   height: 30px;
 }
 .input {
   background-color: #fefefe;
   font-size: 21px;
   padding: 7px;
   border-radius: 10px;
   transition: all ease-in-out 0.3s;
   border: 1px solid #ccc;
 }
 .checkboxWrapper {
   display: flex;
   gap: 8px;
 }
 .errors {    
   color: red;
   margin: 10px 0;
   font-weight: 800;
 }
 .form {
   display: flex;
   flex-direction: column;
   gap: 15px;
 }